* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
@font-face {
    src: url(fonts/PressStart2P-Regular.ttf);
    font-family: pressStart2P;
}
body {
    background-color: black;
    margin: 0;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    border-top: 35px solid #20C20E;
    border-bottom: 10px solid #20C20E;
    border-left: 10px solid #20C20E;
    border-right: 10px solid #20C20E;
}  
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    height: 100vh;
    position: relative;
}
.top-border-text {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 13px;
    padding: 0 10px;
    font-family: pressStart2P , monospace;
    white-space: nowrap;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 8px;
  margin-top: 80px;
}

.day {
  text-align: center;
  border: 1px solid white;
  padding: 5px 0;
  position: relative;
  height: 60px;
  font-family: pressStart2P;
  color: white;
  font-size: 12px;
}

.day.today {
  background-color: #20C20E;
  color: black;
}

.time-worked {
  font-size: 8px;
  color: #20C20E;
  position: absolute;
  bottom: 3px;
  width: 100%;
  left: 0;
}

.total-time {
  color: white;
  font-family: pressStart2P;
  font-size: 16px;
  margin-top: 20px;
}