@font-face {
    src: url(fonts/PressStart2P-Regular.ttf);
    font-family: pressStart2P;
}


body {
    background-color: black;
    margin: 0;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    border-top: 35px solid #20C20E;
    border-bottom: 10px solid #20C20E;
    border-left: 10px solid #20C20E;
    border-right: 10px solid #20C20E;
}  
.top-border-text {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 13px;
    padding: 0 10px;
    font-family: pressStart2P , monospace;
    white-space: nowrap;
}
.button-design {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}
.start-button {
    width: 300px;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}